
.sidebar{
    background-color: white;
    color: white;
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    width: 72px;
    justify-content: space-between;

}

.sidebar-link{
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.sidebar-link img{
    height: 24px;
}

.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
    color: black;
    font-weight: 400;
    margin-top: 6px;
}